<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  <targets>
    <target xsi:type="Database" name="db">
      <connectionString>Data Source=rich-hp\desktop_2017;Initial Catalog=Retrosheet_Core_2017;Integrated Security=True</connectionString>
      <commandText>
        insert into dbo.Log (
          Application, Logged, Level, Message, Logger
        ) values (
          'Retrosheet: Web.Commands', @Logged, @Level, @Message, @Logger
        );
      </commandText>
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
    </target>
  </targets>
  <rules>
    <logger name="BaseballPlayValidation" minlevel="WARN" writeTo="db" />
    <logger name="BaseballGameStarted" minlevel="INFO" writeTo="db" /><!-- Disable by default.  Change to TRACE to log this. -->
    <logger name="BaseballGameCompleted" minlevel="INFO" writeTo="db" /><!-- Disable by default.  Change to TRACE to log this. -->
    <logger name="RosterMember" minlevel="WARN" writeTo="db" />
    <logger name="FlatRepository" minlevel="ERROR" writeTo="db" />
    <logger name="JsonRepository" minlevel="ERROR" writeTo="db" />
    <logger name="RedisRepository" minlevel="ERROR" writeTo="db" />
  </rules>
</nlog>